  @import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital@1&display=swap');

*{
    margin : 0 ;
    padding: 0;
    box-sizing: border-box;  /*아예 마진이 없게 딱 붙힘*/
}

body{
    background-color: black;
}
header{
    position : absolute;
    top:0;
    left:0;
    width: 100%;
    display :flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 100px;
}